<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> SSIS </title>
        <link rel="stylesheet" href="static/css/style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    {% extends 'home.html' %}
    
    {% block content %}

    <div class="ha">
        <div class="data firstname">
            <span class="data-title">First Name</span>
            <span class="data-list">Shir Keilah</span>
            <span class="data-list">Shir Keinan</span>
            <span class="data-list">Shir Kairos</span>
            <span class="data-list">Angelyn</span>
            <span class="data-list">Preciano</span>
        </div>

    {% endblock %}
</body>
</html>