@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* basta kay diri sa ssis ni og ni sushi */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #a41d21;
    z-index: 100;
    transition: all 0.4s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}
/* nya diri kay ang sa dashboard og college */
.sidebar .nav-links{
    background: #a41d21;
    height: 100%;
    padding-top: 30px;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #ba2126;
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
    display: block;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #ba2126;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
    transition: 0;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

.home-section{
    position: relative;
    background: #fff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    padding: 10px 14px;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    left: 260px;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #a41d21;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
    align-items: center;
    color: #fff;
}

.home-section .home-content .bx-menu .search-box{
    position: relative;
    left: 260px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 260px);
    padding: 10px 14px;
}
.home-section .home-content .bx-menu .search-box .bx-search{
    position: fixed;
    top: 0;
    left: 260px;
    display: flex;
    width: calc(100% - 260px);
    justify-content: space-between;
    padding: 10px 14px;
    margin-left: 15px;
    background-color: #fff;
}
.home-section .home-content .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.home-content .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: #a41d21;
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.home-content .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.home-section .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #a41d21;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-left: 10px;
}

.dash-content .overview .students{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.overview .students{
    display: flex;
}
.students .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.students .data-title{
    font-size: 20px;
    font-weight: 500;
}
.students .data .data-lis{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
}

/* new search rawr */

:root{
    --main-color: #a41d21;
    --white:#fff;
    --black:black;
    --light-main-color: #ba2126;
    --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.search-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 40px;
    border-radius: 50px;
    background-color: var(--white);
}

.dropdown{
    position: relative;
    width: 280px;
    border-radius: 50px;
    border: 1px solid var(--white);
    background-color: var(--main-color);
    box-shadow: var(--light-main-color);
    cursor: pointer;
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    padding: .5rem 1rem;
}

.dropdown-list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: #b93539;
    transition: max-height 0.5s;
}

#list.show{
    max-height: 300px;
}

.dropdown-list-item{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.15rem 0 1rem 1rem;
    cursor: pointer;
    transition: margin-left 0.2s ease;
}

.dropdown-list-item:hover{
    margin-left: 0.5rem;
    color: var(--white);
}

.search-line{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100;
    color: var(--main-color);
}

.search-line input{
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    border: 0;
    outline: 0;
}

.search-line i{
    font-size: 1.3rem;
    cursor: pointer;
}

.search-line input::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
}